{
    "name": "My Awesome Sensor",
    "ignoreArea": [
        {
            "x": 1098.8871224165343,
            "y": 0
        },
        {
            "x": 1123.3068362480128,
            "y": 24.419712716385686
        },
        {
            "x": 1147.7265500794913,
            "y": 0
        }
    ]
}