{
    "name": "My Awesome Sensor",
    "ignoreArea": [
        {
            "x": 1840,
            "y": 1079.9407407407407
        },
        {
            "x": 1808,
            "y": 1047.7037037037037
        },
        {
            "x": 1840,
            "y": 1047.7037037037037
        }
    ],
    "password": "",
    "streamOverlay": {
        "enabled": true
    },
    "bitRate": 1700000,
    "frameRate": 24,
    "streamVideo": true,
    "simulateRecord": true,
	"serverSideMuxing": true
}
