{
	name            : "Some script",                // A name that identifies the signal
	enabled         : true,                         // Toggle signal on or off
	log             : false,                        // Whether to log script's std-out/err
	onEvent         : "START_RECORDING",            // When to run signal
	minInterval     : 10000,                        // Minimum time that needs to pass before triggering signal again
	maxInstances    : 1,                            // How many instances of this signal can run simultaneously
	maxErrors       : 0,                            // How many times it is allowed to crash before it is ignored
	maxRunTime      : 5000,                         // Signal cannot run for longer than this
	cwd             : "../scripts/signals",         // Current working directory when executing external script
	execute         : "./echo.sh",                  // Execute a shell command/script or the constant of a default signal
	args            : "http://localhost:8080/test", // Comma separated arguments to pass to the signal being executed (see docs elsewhere)
}
